data/catalog/catalog-czech-validation.json text eol=lf
data/catalog/catalog-polish-validation.json text eol=lf
data/catalog/catalog-czech-antiphons.json text eol=lf
data/catalog/catalog-czech-thematic-sections.json text eol=lf
data/catalog/catalog-polish-thematic-sections.json text eol=lf
